/log/*.log
/tmp
.DS_Store
._*
*.sqlite
*.sqlite3
.sass-cache/
public/uploads/
public/images/icons/
public/images/notifications/
app/assets/images/icons/
app/assets/images/notifications/
*.backup
setup_mail.rb
vendor/bundle
/config/key
db/fixtures/users.yml
