<div id="page-info" class="in">
  <h2>Admin Panel Home</h2>
</div>
<div class="line"></div>
<div id="quick-links" class="in">
  <ul>
    <li><%= link_to image_tag(image_path("icons/32x32/user-add.png")) + "<br />Add User".html_safe, new_admin_user_path %></li>
    <% if @current_user.privilege_level >= User::PrivilegeLevelSysOp %>
      <li><%= link_to image_tag(image_path("icons/32x32/power.png")) + "<br />Reboot Rails".html_safe, admin_reboot_path %></li>
    <% end %>
  </ul>
</div>
<!-- <%= Rails.application.routes.named_routes.each do |route| %>
  <%= route %>
<% end %> -->